*{
  margin: 0;
  padding: 0;


}
#navmenu
{
  position: relative;
  top:0;
  z-index: 10;
}
.navbar-brand 
{	

  padding-left: 30px;
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
}
.navbar-nav li
{
  padding: 0 10px;
}

.navbar-nav li a
{
  padding: 0 10px;
  float: right;
  text-align: left;
}
#navmenu ul li a:hover
{
  color : white!important;
}
.navbar
{
  background:#82589F;
}
.navbar-toggler
{
  border:none !important;
}
.nav-link
{
  color: black !important;
  font-weight: 600;
  font-size: 16px;
}
#navmenu .navbar .navbar-brand
{
	color: white;
	font-weight: 600;
}
